
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {    
    :root  {
      --background: 330 3% 95%;
      --foreground: 330 3% 10%;
      --card: 330 3% 92%;
      --card-foreground: 330 3% 15%;
      --popover: 330 3% 95%;
      --popover-foreground: 330 95% 10%;
      --primary: 330 81.2% 60.4%;
      --primary-foreground: 0 0% 0%;
      --secondary: 330 10% 90%;
      --secondary-foreground: 0 0% 0%;
      --muted: 292 10% 92%;
      --muted-foreground: 330 3% 40%;
      --accent: 292 10% 90%;
      --accent-foreground: 330 3% 15%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 330 3% 92%;
      --border: 330 20% 82%;
      --input: 330 20% 50%;
      --ring: 330 81.2% 60.4%;
      --radius: 0.5rem;
    }
    .dark  {
      --background: 330 10% 10%;
      --foreground: 330 3% 92%;
      --card: 330 3% 10%;
      --card-foreground: 330 3% 92%;
      --popover: 330 10% 5%;
      --popover-foreground: 330 3% 92%;
      --primary: 330 81.2% 60.4%;
      --primary-foreground: 0 0% 0%;
      --secondary: 330 10% 20%;
      --secondary-foreground: 0 0% 100%;
      --muted: 292 10% 25%;
      --muted-foreground: 330 3% 65%;
      --accent: 292 10% 25%;
      --accent-foreground: 330 3% 92%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 330 3% 92%;
      --border: 330 20% 50%;
      --input: 330 20% 50%;
      --ring: 330 81.2% 60.4%;
      --radius: 0.5rem;
    }   
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  